* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: aliceblue;
}

h1 {
  padding-top: 30px;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container {
  text-align: center;
  width: 40%;
  height: 400px;
  background-color: white;
  margin: 70px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#newTask {
  flex: 1;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 15px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  background-color: rgb(237, 212, 210);
}

#addTask {
  height: 40px;
  padding: 10px 10px;
  border: none;
  outline: none;
  background-color: rgb(241, 181, 169);
  color: #7a6f6f;
  border-radius: 20%;
  cursor: pointer;
  margin-top: -10px;
}

li {
  list-style: none;
  margin-top: 10px;
  background-color: #fff8f8;
}

.btn {
  border: none;
  background-color: rgb(241, 181, 169);
  color: #7a6f6f;
  padding: 10px 10px;
  border-radius: 20%;
  cursor: pointer;
  margin-left: 100px;
}
